.wrapper {
  min-height: 100vh;
  margin-left: -15.05rem;
  border-right: 1px solid #00bfff;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  margin-right: -1px;
}

.heading {
  padding: 0.85rem 1.25rem;
  font-size: 1.2rem;
  color: #00bfff;
}

.list-group {
  width: 15.05rem;
}

.toggled {
  margin-left: 0;
}

.outline-0:focus {
  outline: none;
}

.link {
  color: #dedede;
}

.link:hover,
.link:focus {
  color: #00bfff;
}

@media (min-width: 768px) {
  .wrapper {
    margin-left: 0;
  }

  .toggled {
    margin-left: -15rem;
  }
}
